# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (в репозитории в папке data есть текстовик с ссылкой, выгрузите в эту же папку весь архив, чтобы код работал). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1NPMIal9jOQzBhy3KEc05rqUUMm228im3z5L2KZ-Jv_4/edit?usp=sharing).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('../../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70000 entries, 0 to 99999
Data columns (total 12 columns):
age            70000 non-null int64
gender         70000 non-null int64
height         70000 non-null int64
weight         70000 non-null float64
ap_hi          70000 non-null int64
ap_lo          70000 non-null int64
cholesterol    70000 non-null int64
gluc           70000 non-null int64
smoke          70000 non-null int64
alco           70000 non-null int64
active         70000 non-null int64
cardio         70000 non-null int64
dtypes: float64(1), int64(11)
memory usage: 6.9 MB

Посмотрим на первые 5 записей.

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [26]:
heightMean1 = df[df['gender'] == 1]['height'].mean()
print('height mean 1: {0}', heightMean1)
heightMean2 = df[df['gender'] == 2]['height'].mean()
print('height mean 2: {0}', heightMean2)
male = (1 if heightMean1 > heightMean2 else 2)
female = (1 if heightMean1 < heightMean2 else 2)
print('male = {0}, female = {1}'.format(male, female))
print()

totalCount = df.shape[0]
males = df[df['gender'] == male]
females = df[df['gender'] == female]
maleCount = males.shape[0]
femaleCount = females.shape[0]
print('total count: {0}'.format(totalCount))
print('male count: {0}; female count: {1}'.format(maleCount, femaleCount))

height mean 1: {0} 161.35561168460356
height mean 2: {0} 169.94789538210054
male = 2, female = 1

total count: 70000
male count: 24470; female count: 45530

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [28]:
maleAlcoMean = males['alco'].mean()
femaleAlcoMean = females['alco'].mean()
print('alco mean:')
print('males - {0}%'.format(maleAlcoMean * 100))
print('females - {0}%'.format(femaleAlcoMean * 100))
print('so {0} drink less'.format('males' if maleAlcoMean < femaleAlcoMean else 'females'))

alco mean:
males - 10.637515324887618%
females - 2.549967054689216%
so females drink less

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [29]:
maleSmokeMean = males['smoke'].mean()
femaleSmokeMean = females['smoke'].mean()
maleToFemaleSmokeRatio = maleSmokeMean / femaleSmokeMean
print('male to female smoke ratio is {0} ({1})'.format(maleToFemaleSmokeRatio, np.round(maleToFemaleSmokeRatio)))

male to female smoke ratio is 12.257833097333833 (12.0)

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [36]:
ageMean = df['age'].mean()
print('mean age is {0} units'.format(ageMean))
averageLifeInYears = 55
print('if average life expectancy is {0} years,'.format(averageLifeInYears))
print('than there are about {0} units in year'.format(ageMean / averageLifeInYears))

mean age is 19468.865814285713 units
if average life expectancy is 55 years,
than there are about 353.9793784415584 units in year

In [59]:
unitsInMonth = 365.2425 / 12
smokingMonthsMedian = df[df['smoke'] == 1]['age'].median() / unitsInMonth
nonSmokingMonthsMedian = df[df['smoke'] == 0]['age'].median() / unitsInMonth
print('smoking people live for {0} months, non-smoking - for {1} months'.format(smokingMonthsMedian, nonSmokingMonthsMedian))
print('so difference is {0} months'.format(nonSmokingMonthsMedian - smokingMonthsMedian))

smoking people live for 628.3496581038625 months, non-smoking - for 647.9640239019282 months
so difference is 19.614365798065705 months

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [62]:
ageYears = df['age'] / 365.2425
df['age_years'] = round(ageYears).astype('int')
print(df.head())
males = df[df['gender'] == male]
females = df[df['gender'] == female]

      age  age_years  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  \
id
0   18393         50       2     168    62.0    110     80            1     1
1   20228         55       1     156    85.0    140     90            3     1
2   18857         52       1     165    64.0    130     70            3     1
3   17623         48       2     169    82.0    150    100            1     1
4   17474         48       1     156    56.0    100     60            1     1

    smoke  alco  active  cardio
id
0       0     0       1       0
1       0     0       1       1
2       0     0       0       1
3       0     0       1       1
4       0     0       0       0

In [70]:
almostOldMales = males[(males['age_years'] >= 60) & (males['age_years'] <= 64)]
almostOldMales = almostOldMales[almostOldMales['smoke'] == 1]
firstSet = almostOldMales[
    (almostOldMales['ap_hi'] < 120) &
    (almostOldMales['cholesterol'] == 1)
]
secondSet = almostOldMales[
    (almostOldMales['ap_hi'] >= 160) &
    (almostOldMales['ap_hi'] < 180) &
    (almostOldMales['cholesterol'] == 3)
]
firstCardioPart = firstSet['cardio'].mean()
secondCardioPart = secondSet['cardio'].mean()
print('sick from first set: {0:.2f}%'.format(100 * firstCardioPart))
print('sick from second set: {0:.2f}%'.format(100 * secondCardioPart))
cardioRatio = max(secondCardioPart / firstCardioPart, firstCardioPart / secondCardioPart)
print('sets ratio = {0} ({1})'.format(cardioRatio, round(cardioRatio)))

sick from first set: 26.32%
sick from second set: 86.36%
sets ratio = 3.281818181818182 (3)

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [77]:
df['bmi'] = df['weight'] / ((df['height'] / 100) ** 2)
males = df[df['gender'] == male]
females = df[df['gender'] == female]
df.head()

,age,age_years,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi
id,,,,,,,,,,,,,,
0,18393,50,2,168,62.0,110,80,1,1,0,0,1,0,21.967120
1,20228,55,1,156,85.0,140,90,3,1,0,0,1,1,34.927679
2,18857,52,1,165,64.0,130,70,3,1,0,0,0,1,23.507805
3,17623,48,2,169,82.0,150,100,1,1,0,0,1,1,28.710479
4,17474,48,1,156,56.0,100,60,1,1,0,0,0,0,23.011177

In [85]:
medianBmi = df['bmi'].median()
print('1: {0}'.format(medianBmi > 25))

meanFemaleBmi = females['bmi'].mean()
meanMaleBmi = females['bmi'].mean()
print('2: {0}'.format(meanFemaleBmi < meanMaleBmi))

sickMeanBmi = df[df['cardio'] == True]['bmi'].mean()
notSickMeanBmi = df[df['cardio'] == False]['bmi'].mean()
print('3: {0}'.format(notSickMeanBmi > sickMeanBmi))

maleSubset = males[(males['cardio'] == False) & (males['alco'] == False)]
femaleSubset = females[(females['cardio'] == False) & (females['alco'] == False)]
maleSubsetMeanBmi = maleSubset['bmi'].mean()
femaleSubsetMeanBmi = femaleSubset['bmi'].mean()
print('(mean bmi: males - {0}, females - {1})'.format(maleSubsetMeanBmi, femaleSubsetMeanBmi))
print('4: {0}'.format(maleSubsetMeanBmi < femaleSubsetMeanBmi))

1: True
2: False
3: False
(mean bmi: males - 25.872638075460173, females - 26.845406594131518)
4: True

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [100]:
filtered = df[
    (df['ap_lo'] <= df['ap_hi']) &
    (df['height'] >= df['height'].quantile(0.025)) & (df['height'] <= df['height'].quantile(0.975)) &
    (df['weight'] >= df['weight'].quantile(0.025)) & (df['weight'] <= df['weight'].quantile(0.975))
]
dropped = 1 - filtered.shape[0] / df.shape[0]
print('dropped: {0:.2f}% ({1}%)'.format(dropped * 100, round(dropped * 100)))

dropped: 9.63% (10%)

In [101]:
# Wrong?

filtered = df[
    df['ap_lo'] <= df['ap_hi']
]
filtered = filtered[
    (filtered['height'] >= filtered['height'].quantile(0.025)) & (filtered['height'] <= filtered['height'].quantile(0.975))
]
filtered = filtered[
    (filtered['weight'] >= filtered['weight'].quantile(0.025)) & (filtered['weight'] <= filtered['weight'].quantile(0.975))
]
dropped = 1 - filtered.shape[0] / df.shape[0]
print('dropped: {0:.2f}% ({1}%)'.format(dropped * 100, round(dropped * 100)))

dropped: 10.31% (10%)